In [37]:
import os
import json
from datetime import datetime, timedelta

import pandas as pd
import numpy as np

In [5]:
nsubmissions = 20

In [9]:
times = np.random.uniform(low=10, high=1000, size=nsubmissions)
times

array([ 989.89096428,  916.54984835,  385.58160595,  558.30747193,
        483.32787746,  506.87824474,  857.53173159,  154.5680828 ,
         21.60559614,  726.36488162,  366.10423711,  278.46470622,
        539.81568669,  545.90167365,  982.71437099,  703.03546419,
        730.07313718,  354.96471597,  613.37082766,  135.07260994])

In [12]:
accuracies = np.random.normal(loc=94.0, scale=1, size=nsubmissions)
accuracies

array([ 95.65767396,  95.18618626,  93.18126349,  94.6314803 ,
        95.2646097 ,  94.96341976,  94.21781665,  94.01038307,
        94.5412606 ,  93.65413041,  93.33132626,  94.58155823,
        94.50329885,  92.96399617,  93.748286  ,  95.06597011,
        94.48343024,  92.92256867,  95.09894362,  94.71476214])

In [38]:
datetime.now()

datetime.datetime(2017, 8, 9, 9, 58, 23, 49366)

In [ ]:
timedelta()

In [17]:
df = pd.DataFrame(data={"time": times, "accuracy": accuracies})

In [24]:
df['model'] = [f"Test Model {i}" for i in range(len(df))]
df['author'] = ["Stanford University"] * len(df)
df['url'] = ["https://arxiv.org/abs/1707.09098"] * len(df)

In [26]:
df.head()

,accuracy,time,model,author,url
0,95.657674,989.890964,Test Model 0,Stanford University,https://arxiv.org/abs/1707.09098
1,95.186186,916.549848,Test Model 1,Stanford University,https://arxiv.org/abs/1707.09098
2,93.181263,385.581606,Test Model 2,Stanford University,https://arxiv.org/abs/1707.09098
3,94.631480,558.307472,Test Model 3,Stanford University,https://arxiv.org/abs/1707.09098
4,95.264610,483.327877,Test Model 4,Stanford University,https://arxiv.org/abs/1707.09098

In [36]:
dest = '../results/CIFAR10/train/'
for index, row in df.iterrows():
    with open(os.path.join(dest, f'fake_submission_{index}.json'), mode='w') as file:
        json.dump(row.to_dict(), file)
        file.write('\n')

In [35]:
os.listdir(dest)

['submission_0.json',
 'submission_1.json',
 'submission_10.json',
 'submission_11.json',
 'submission_12.json',
 'submission_13.json',
 'submission_14.json',
 'submission_15.json',
 'submission_16.json',
 'submission_17.json',
 'submission_18.json',
 'submission_19.json',
 'submission_2.json',
 'submission_3.json',
 'submission_4.json',
 'submission_5.json',
 'submission_6.json',
 'submission_7.json',
 'submission_8.json',
 'submission_9.json']